{%- capture table -%}
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="align-middle inline-block min-w-full">
                <div class="overflow-hidden border-b border-gray-200 border-t">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Outlet Name
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Total Sales
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Product Count
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                    <div class="text-xs text-gray-500">Magodo Phase 2</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦1,924,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    7
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger"
                                        data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">Kasks Ltd</div>
                                    <div class="text-xs text-gray-500">Dubai I don come</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦924,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    27
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">De Prince Supermarket</div>
                                    <div class="text-xs text-gray-500">Gbagada, Ifako</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦74,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    270
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">Clinton Distributions Ltd</div>
                                    <div class="text-xs text-gray-500">Gbagada, Ifako</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦274,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    34
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                    <div class="text-xs text-gray-500">Magodo Phase 2</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦1,924,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    7
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">Kasks Ltd</div>
                                    <div class="text-xs text-gray-500">Dubai I don come</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦924,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    27
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">De Prince Supermarket</div>
                                    <div class="text-xs text-gray-500">Gbagada, Ifako</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦74,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    270
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3 whitespace-nowrap">
                                    <div class="text-sm text-steel-500">Clinton Distributions Ltd</div>
                                    <div class="text-xs text-gray-500">Gbagada, Ifako</div>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    ₦274,000
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                    34
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                        View
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%- endcapture -%}
{% include comps/card.html content=table heading_padding=true align_left=true footer_padding=true heading="Outlets Ranking By Sales" max_height="392px" %}