<div class="my-gallery grid grid-flow-col auto-cols-auto gap-3" itemscope itemtype="http://schema.org ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a class="flex w-64" href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024">
            <img class="w-full h-80 object-cover rounded-lg" src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"/>
        </a>
        <figcaption itemprop="caption description" class="py-1 pr-2 whitespace-nowrap">
            <span class="text-sm text-steel-500 block">Queen of the Smooth</span>
            <span class="text-xs text-gray-500 block">Vintage Estate, Abijo</span>
        </figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a class="flex w-64" href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="1024x1024">
            <img class="w-full h-80 object-cover rounded-lg" src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description"/>
        </a>
        <figcaption itemprop="caption description" class="py-1 pr-2 whitespace-nowrap">
            <span class="text-sm text-steel-500 block">Sandra Achums Wholesalers</span>
            <span class="text-xs text-gray-500 block">Banana Offland</span>
        </figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a class="flex w-64" href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x1024">
            <img class="w-full h-80 object-cover rounded-lg" src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description"/>
        </a>
        <figcaption itemprop="caption description" class="py-1 pr-2 whitespace-nowrap">
            <span class="text-sm text-steel-500 block">James Pharmacy Ltd</span>
            <span class="text-xs text-gray-500 block">Magodo Phase 2</span>
        </figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a class="flex w-64" href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x1024">
            <img class="w-full h-80 object-cover rounded-lg" src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description"/>
        </a>
        <figcaption itemprop="caption description" class="py-1 pr-2 whitespace-nowrap">
            <span class="text-sm text-steel-500 block">Queen of the Smooth</span>
            <span class="text-xs text-gray-500 block">Vintage Estate, Abijo</span>
        </figcaption>
    </figure>
</div>