<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
            <div class="overflow-hidden border-b border-gray-200 border-t">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                S/N
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Field Rep
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Phone
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Type
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                1
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a
                                    href="#"
                                    class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger"
                                    data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                2
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">Queen of the Smooth</div>
                                <div class="text-xs text-gray-500">Vintage Estate, Abijo</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Kabolobari Benakole
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                                    Dormant
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                08090334545
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Retailer
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                3
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">Sandra Achums Wholesalers</div>
                                <div class="text-xs text-gray-500">Banana Offland</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Seun Abokije
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                    Inactive
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                07060362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Kiosk
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                4
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                5
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">Queen of the Smooth</div>
                                <div class="text-xs text-gray-500">Vintage Estate, Abijo</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Kabolobari Benakole
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                                    Dormant
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                08090334545
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Retailer
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                6
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">Sandra Achums Wholesalers</div>
                                <div class="text-xs text-gray-500">Banana Offland</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Seun Abokije
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                    Inactive
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                07060362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Kiosk
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                7
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                8
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                9
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                10
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm text-steel-500">James Pharmacy Ltd</div>
                                <div class="text-xs text-gray-500">Magodo Phase 2</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Osborne Okokwa-Onyerunma
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    Active
                                </span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                09090362145
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-steel-500">
                                Wholesaler
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3">View</a>
                                <a href="#" class="text-supernova-600 hover:text-supernova-900 p-3 modal-trigger" data-target="newVisit">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>