{%- capture by_type -%}
    <canvas id="pie-4" width="248" height="248"></canvas>
{%- endcapture -%}
{%- capture by_channel -%}
    <canvas id="pie-5" width="248" height="248"></canvas>
{%- endcapture -%}
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mt-3">
    {% include comps/card.html
        content=by_type
        padding=true
        centered=true
        heading="Outlet Distribution By Type"
        max_height="480px"
    %}
    {% include comps/card.html
        content=by_channel
        padding=true
        centered=true
        heading="Outlet Distribution By Type"
        max_height="480px"
    %}
</div>