{%- capture table -%}
    {% include partials/outlets/outlet-table-data.html %}
{%- endcapture -%}
<div class="grid grid-cols-1 xl:grid-cols-3 gap-3 mt-3">
    <div class="col-span-full">
        {% include comps/card.html content=table heading_padding=true align_left=true footer_padding=true heading="Recent Outlets" link_url="" link_title="View All" max_height="392px" %}
    </div>
</div>