{%- capture growth_trend -%}
    <canvas id="line-2" width="1024" height="296"></canvas>
{%- endcapture -%}
{%- capture maps -%}
    <img src="{{ '/assets/images/maps.png' | prepend: site.url }}" alt="" class="max-w-screen-xl">
{%- endcapture -%}
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-3">
    <div class="lg:col-span-2">
        {% include comps/card.html
            content=growth_trend
            padding=true
            heading="Outlet Growth Trend"
            max_height="360px"
        %}
    </div>
    <div class="lg:col-span-1">
        {% include comps/card.html
            content=maps
            padding=true
            heading="Outlet Distribution"
            max_height="360px"
        %}
    </div>
</div>