{%- capture classification_heading -%}
    Outlets <span class="block italic">(per filters)</span>
{%- endcapture -%}
{%- capture most_covered_heading -%}
    Most Covered Location <span class="block italic">(per filters)</span>
{%- endcapture -%}
{%- capture least_covered_heading -%}
    Least Covered Location <span class="block italic">(per filters)</span>
{%- endcapture -%}
{%- capture icon_add_circle -%}
    {%- include icons.html icon="add-circle" -%}
{%- endcapture -%}
{%- capture icon_file_upload -%}
    {%- include icons.html icon="file-upload" -%}
{%- endcapture -%}
{%- capture classification -%}
    {% include comps/big-number.html number="1M" text="Count of Outlets based on filters" %}
    <ul class="flex flex-col mt-6 divide-y divide-gray-200">
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="7.9M" %}
                <span>Retailers</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="30.9K" %}
                <span>Wholesalers</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="900K" %}
                <span>Idunnoers</span>
            </a>
        </li>
    </ul>
{%- endcapture -%}
{%- capture most_covered -%}
    <ul class="flex flex-col divide-y divide-gray-200">
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="23" %}
                <span>Agege</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="30" %}
                <span>Ago Palace Hotel</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="200" %}
                <span>Ojuelegba</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="29" %}
                <span>Iganmu Berger Republic</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="34" %}
                <span>Otukpo Central</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="90" %}
                <span class="truncate w-48">Truncate Truncate Truncate Truncate</span>
            </a>
        </li>
    </ul>
{%- endcapture -%}
{%- capture least_covered -%}
    <ul class="flex flex-col divide-y divide-gray-200">
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="1" %}
                <span>Ajah</span>
            </a>
        </li>
        <li>
            <a href="" class="flex items-center text-sm font-medium p-3 hover:bg-gray-100">
                {% include comps/big-number-doughnut.html number="2K" %}
                <span>AJ City</span>
            </a>
        </li>
    </ul>
{%- endcapture -%}
<div class="flex items-center justify-center md:justify-end space-x-3">
    {% include comps/button-primary.html text="New Outlet" icon=icon_add_circle target="newVisit" %}
    {% include comps/button-alt.html text="Upload Outlets" icon=icon_file_upload target="uploadVisits" %}
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-3">
    {% include comps/card.html content=classification padding=true heading=classification_heading max_height="336px" %}
    {% include comps/card.html content=most_covered padding=true heading=most_covered_heading max_height="336px" %}
    {% include comps/card.html content=least_covered padding=true heading=least_covered_heading max_height="336px" %}
</div>