<div class="fixed right-3 bottom-0 left-3 z-50 max-w-screen-sm lg:max-w-screen-md mx-auto transform translate-y-full transition duration-500 ease-in-out opacity-0 r-alert r-show-on-load">
    <div class="bg-supernova-500 text-white p-3 rounded-2xl shadow-xl">
        <div class="flex items-center justify-between pb-3">
            <h3 class="m-0 text-sm opacity-70 font-medium">Key Info</h3>
            <button
                class="flex items-center justify-center p-2 rounded-full bg-supernova-900 text-white focus:bg-supernova-300 hover:bg-supernova-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-supernova-300 transition duration-300">
                <span class="flex-shrink-0 w-5 h-5">
                    {%- include icons.html icon="close" -%}
                </span>
            </button>
        </div>
        <div class="pb-3 pr-6">
            <p class="m-0 text-base opacity-90">
                In this setup module, the new companies that will be added are your competitor companies. You can set as many
                competitors as you require. Note: Your company has been automatically created for you based on the data you
                filled while signing up for your account.
            </p>
        </div>
    </div>
</div>