<div id="uploadVisits" class="modal bg-white max-w-xl rounded-lg">
    <div class="flex flex-col overflow-hidden">
        <div class="border-b border-gray-300 flex items-center justify-between">
            <h2 class="px-3 py-4 text-lg text-steel-500">
                Upload Visits
            </h3>
            <button
                class="flex items-center justify-center text-steel-500 bg-gray-100 rounded-full p-2 mr-3 modal-close">
                {%- include icons.html icon="close" -%}
            </button>
        </div>
        <div class="flex-1 overflow-auto p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum maxime, perferendis dolor obcaecati,
            odio
            voluptatibus delectus ex libero est quos quae facilis velit omnis rem labore! Iusto, sunt labore.
        </div>
        <div class="p-3 flex justify-end">
            {% include comps/button-primary.html text="Upload" %}
        </div>
    </div>
</div>