<div
    class="side-drawer bg-white overflow-hidden z-40 rounded-r-3xl mt-3 fixed left-0 col-span-full row-span-full"
    style="height: 88vh">
    <nav class="overflow-y-auto overflow-x-hidden relative h-full">
        <h2 class="sr-only">Main Navigation</h2>
        <ul class="nav-list collapsible plain">
            {%- for item in site.data.settings.mainnav -%}
                {%- assign class = nil -%}
                {%- assign url = page.url | remove: 'index.html' -%}
                {%- assign id = item.id | slugify -%}
                {%- assign permalink = page.permalink -%}
                {%- if item.slug == permalink -%}
                {%- assign class = class | append: 'is-active' -%}
                {%- elsif id == 'home' and url == '/' -%}
                {%- assign class = class | append: 'is-active' -%}
                {%- endif -%}
                <li class="{{ class }} nav-list__item border-b border-gray-200 last:border-0">
                    {%- if id == 'home' -%}
                        <a href="/"
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap">
                            <span class="flex flex-shrink-0 text-steel-500">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium truncate" style="max-width:176px">
                                {{ item.title }}
                            </span>
                        </a>
                    {%- elsif id == 'maps' -%}
                        <a href="{{ item.slug | prepend: site.url }}"
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap">
                            <span class="flex flex-shrink-0 text-steel-500">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium truncate" style="max-width:176px">
                                {{ item.title }}
                            </span>
                        </a>
                    {%- elsif id == 'dashboard' -%}
                        <a href="{{ item.slug | prepend: site.url }}"
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap">
                            <span class="flex flex-shrink-0 text-steel-500 w-6">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium truncate" style="max-width:176px">
                                {{ item.title }}
                            </span>
                        </a>
                    {%- elsif id == 'calendar' -%}
                        <a href="{{ item.slug | prepend: site.url }}"
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap">
                            <span class="flex flex-shrink-0 text-steel-500 w-6">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium truncate" style="max-width:176px">
                                {{ item.title }}
                            </span>
                        </a>
                    {%- elsif item.points_to == 'external' -%}
                        <a
                            href="{{ item.url }}"
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap"
                            target="_blank">
                            <span class="flex flex-shrink-0 text-steel-500">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium truncate" style="max-width:176px">
                                {{ item.title }}
                            </span>
                        </a>
                    {%- else -%}
                        <button
                            class="w-full flex items-center pl-6 py-4 pr-5 text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 whitespace-nowrap collapsible-header">
                            <span class="flex flex-shrink-0 text-steel-500">
                                {%- include icons.html icon=item.id -%}
                            </span>
                            <span class="pl-7 capitalize font-medium flex items-center justify-between w-full">
                                <span class="truncate" style="max-width:176px">
                                    {{ item.title }}
                                </span>
                                <span class="w-5 expand-more transition duration-300">
                                    {%- include icons.html icon="expand-more" -%}
                                </span>
                            </span>
                        </button>
                        <ul class="collapsible-body bg-steel-700 text-white border-none p-0">
                            {% for item in item.links %}
                                <li class="border-b border-steel-500 last:border-0">
                                    <a href="{{ item.slug | prepend: site.url }}" class="flex pl-7 pr-3 py-4 text-sm focus:bg-steel-500 hover:bg-steel-500">
                                        <span class="truncate" style="max-width:176px">
                                            {{ item.title }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </nav>
</div>