<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden h-full p-3">
    <div class="flex flex-col items-center justify-center pb-3">
        <p class="font-medium text-sm text-gray-500">Outlet Growth Trend</p>
        <p class="mt-1 text-xl font-bold text-steel-500">
            <span>400,000</span>
        </p>
        <span class="order-3 up-or-down is-up flex items-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+2.22% of Outlets added</span>
        </span>
    </div>
    <div class="overflow-auto">
        <canvas id="bar-chart" width="1024" height="248"></canvas>
    </div>
</div>