<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6">
    <div class="flex flex-col items-center justify-center pb-6">
        <p class="font-medium text-sm text-gray-500 text-center">
            <span>Grouped Bar Chart</span>
        </p>
    </div>
    <div class="overflow-auto">
        <canvas id="bar-chart-grouped" width="768" height="248"></canvas>
    </div>
</div>