<dl class="md:grid md:grid-cols-3 rounded-lg">
    <div class="flex flex-col items-center justify-center border-b border-gray-100 text-center md:border-b-0 md:border-r pb-6 md:pb-0">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500 flex items-center">
            <span class="flex-shrink-0 w-5 text-supernova-500">
                {%- include icons.html icon="calendar" -%}
            </span>
            <span class="ml-1">Scheduled Visits</span>
        </dt>
        <dd class="order-1 flex items-start text-3xl font-bold text-steel-500">55</dd>
    </div>
    <div class="flex flex-col items-center justify-center border-t md:border-t-0 border-b md:border-b-0 md:border-l md:border-r border-gray-100 text-center py-6 md:py-0">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500 flex items-center">
            <span class="flex-shrink-0 w-5 text-green-500">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <span class="ml-1">Completed Visits</span>
        </dt>
        <dd class="order-1 flex items-start text-3xl font-bold text-steel-500">155</dd>
    </div>
    <div class="flex flex-col items-center justify-center border-t md:border-t-0 md:border-l border-gray-100 text-center pt-6 md:pt-0">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500 flex items-center">
            <span class="flex-shrink-0 w-5 text-yellow-500">
                {%- include icons.html icon="warning" -%}
            </span>
            <span class="ml-1">Not Visited</span>
        </dt>
        <dd class="order-1 flex items-start text-3xl font-bold text-steel-500">32</dd>
    </div>
</dl>