<ul
    id="notifications"
    class="dropdown-content bg-white overflow-hidden rounded-lg divide-y divide-gray-200">
    <li class="p-3 flex">
        <img class="h-10 w-10 rounded-full"
            src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixqx=3k7Y8c80ZK&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
        <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Calvin Hawkins</p>
            <p class="text-sm text-gray-500">calvin.hawkins@example.com</p>
        </div>
    </li>

    <li class="p-3 flex">
        <img class="h-10 w-10 rounded-full"
            src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=3k7Y8c80ZK&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
        <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Kristen Ramos</p>
            <p class="text-sm text-gray-500">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nam nobis tempore, debitis voluptate tempora! Nisi a dolorum tempore quidem maxime labore, eveniet ut voluptatibus illo veritatis, tenetur soluta blanditiis.
            </p>
        </div>
    </li>

    <li class="p-3 flex">
        <img class="h-10 w-10 rounded-full"
            src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixqx=3k7Y8c80ZK&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
        <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">Ted Fox</p>
            <p class="text-sm text-gray-500">ted.fox@example.com</p>
        </div>
    </li>
</ul>