<ul id="account-settings" class="dropdown-content bg-white overflow-hidden rounded-lg divide-y divide-gray-200">
    <li class="flex items-center">
        <a href="#!"
            class="flex items-center w-full p-3 text-sm text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 ease">
            <span class="flex flex-shrink-0 w-6 opacity-70">
                {%- include icons.html icon="face" -%}
            </span>
            <span class="pl-4 capitalize font-medium">Your Account</span>
        </a>
    </li>
    <li class="flex items-center">
        <a href="#!"
            class="flex items-center w-full p-3 text-sm text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 ease">
            <span class="flex flex-shrink-0 w-6 opacity-70">
                {%- include icons.html icon="password" -%}
            </span>
            <span class="pl-4 capitalize font-medium">Change Password</span>
        </a>
    </li>
    <li class="flex items-center">
        <a href="#!"
            class="flex items-center w-full p-3 text-sm text-steel-500 focus:bg-gray-100 hover:bg-gray-100 transition duration-300 ease">
            <span class="flex flex-shrink-0 w-6 opacity-70">
                {%- include icons.html icon="logout" -%}
            </span>
            <span class="pl-4 capitalize font-medium">Log Out</span>
        </a>
    </li>
</ul>