<div id="filters" class="sidenav flex flex-col overflow-hidden rounded-l-3xl mt-3">
    <header class="border-b border-gray-300 flex items-center justify-between">
        <h2 class="px-3 py-4 text-lg text-steel-500">Filter Page</h3>
        <button class="flex items-center justify-center text-steel-500 bg-gray-100 rounded-full p-2 mr-3 sidenav-close">
            <span class="flex-shrink-0 w-5 h-5">
                {%- include icons.html icon="close" -%}
            </span>
        </button>
    </header>
    <div class="flex-1 overflow-auto p-3">
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Location:</h3>
            <select name="location" id="location">
                <option value="" disabled selected>Select Location</option>
                <option value="Location 1">Location 1</option>
                <option value="Location 2">Location 2</option>
                <option value="Location 3">Location 3</option>
            </select>
            <label for="location">Location Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">User:</h3>
            <select name="users" id="users">
                <option value="" disabled selected>Select User</option>
                <option value="User 1">User 1</option>
                <option value="User 2">User 2</option>
                <option value="User 3">User 3</option>
            </select>
            <label for="users">User Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Outlet Type:</h3>
            <select name="outlet-type" id="outlet-type">
                <option value="" disabled selected>Select Outlet Type</option>
                <option value="Outlet Type 1">Outlet Type 1</option>
                <option value="Outlet Type 2">Outlet Type 2</option>
                <option value="Outlet Type 3">Outlet Type 3</option>
            </select>
            <label for="outlet-type">Outlet Type Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Outlet Channel:</h3>
            <select name="outlet-channel" id="outlet-channel">
                <option value="" disabled selected>Select Outlet Channel</option>
                <option value="Outlet Channel 1">Outlet Channel 1</option>
                <option value="Outlet Channel 2">Outlet Channel 2</option>
                <option value="Outlet Channel 3">Outlet Channel 3</option>
            </select>
            <label for="outlet-channel">Outlet Channel Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Distributor:</h3>
            <select name="distribution" id="distribution">
                <option value="" disabled selected>Select Distributor</option>
                <option value="Distributor 1">Distributor 1</option>
                <option value="Distributor 2">Distributor 2</option>
                <option value="Distributor 3">Distributor 3</option>
            </select>
            <label for="distribution">Distributor Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Sales Teams:</h3>
            <select name="sales-teams" id="sales-teams">
                <option value="" disabled selected>Select Sales Teams</option>
                <option value="Sales Teams 1">Sales Teams 1</option>
                <option value="Sales Teams 2">Sales Teams 2</option>
                <option value="Sales Teams 3">Sales Teams 3</option>
            </select>
            <label for="sales-teams">Sales Teams Select</label>
        </div>
        <div class="select py-3">
            <h3 class="font-bold text-steel-500 text-sm">Products:</h3>
            <select name="products" id="products">
                <option value="" disabled selected>Select Products</option>
                <option value="Products 1">Products 1</option>
                <option value="Products 2">Products 2</option>
                <option value="Products 3">Products 3</option>
            </select>
            <label for="products">Products Select</label>
        </div>
    </div>
    <footer class="border-t border-gray-300 py-2 px-3 flex justify-end">
        <div>
            {% include comps/button-alt.html text="Reset Filters" %}
            {% include comps/button-primary.html text="Apply Filters" %}
        </div>
    </footer>
</div>