<header class="topbar fixed inset-x-0 w-full bg-white shadow-sm py-1 z-50">
    <div class="flex items-center justify-between pr-3">
        <div class="flex items-center">
            <button
                class="nav-toggle flex items-center justify-center text-steel-500 bg-gray-100 rounded-full p-3 ml-3"
                aria-label="Toggle Navigation">
                {%- include icons.html icon="menu-open" -%}
            </button>
            <a href="/" class="p-4">
                <span class="w-5 block lg:hidden">
                    {%- include icons.html icon="icon" -%}
                </span>
                <span class="w-40 hidden lg:block">
                    {%- include icons.html icon="logo" -%}
                </span>
            </a>
            <h2 class="lg:ml-14 text-lg sm:text-xl text-steel-500 truncate w-24 sm:w-auto">
                {{ page.title }}
            </h2>
        </div>
        <div class="flex items-center">
            <button
                class="font-bold flex items-center justify-center text-steel-500 bg-gray-100 p-2 lg:py-2 lg:px-3 rounded-full sidenav-trigger flex-shrink-0"
                data-target="filters">
                <span class="">
                    {%- include icons.html icon="filter-list" -%}
                </span>
                <span class="hidden lg:block ml-2 text-xs uppercase tracking-wider">
                    Filters
                </span>
            </button>
            <button class="dropdown-trigger p-2 text-steel-500 bg-gray-100 rounded-full relative ml-3 flex-shrink-0" data-target="notifications">
                {%- include icons.html icon="bell" -%}
                <span class="has-notifications absolute top-1.5 right-2 w-2 h-2 rounded-full bg-supernova-500"></span>
            </button>
            <button class="dropdown-trigger ml-3 flex-shrink-0" data-target="account-settings">
                <img src="{{ '/assets/images/kb.jpg' | prepend: site.url }}" alt="User image" class="w-10 h-10 rounded-full">
            </button>
            {%- include dropdown-notifications.html -%}
            {%- include dropdown-account.html -%}
        </div>
    </div>
</header>