<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#e03e27">
    <meta name="theme-color" content="#e03e27">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link href="{{ '/assets/css/fullcalendar.min.css' | prepend: site.url  }}" rel='stylesheet' />
    <link href="{{ '/assets/css/simple-datatables.css' | prepend: site.url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/css/photoswipe.min.css' | prepend: site.url  }}" rel='stylesheet' />
    <link href="{{ '/assets/css/default-skin/default-skin.min.css' | prepend: site.url }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/materialize.css' | prepend: site.url }}">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/custom.css">
    {%- seo title=false -%}
</head>