{%- case include.icon -%}
    {%- when 'sync' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
            d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z" />
    </svg>
    {%- when 'list' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z" />
    </svg>
    {%- when 'dashboard' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zm0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zM13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1z" />
    </svg>
    {%- when 'person' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 7c-2.67 0-8 1.34-8 4v2c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-2c0-2.66-5.33-4-8-4zm6 5H6v-.99c.2-.72 3.3-2.01 6-2.01s5.8 1.29 6 2v1z" />
    </svg>
    {%- when 'info' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z" />
    </svg>
    {%- when 'warning' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
        <path
            d="M4.47 21h15.06c1.54 0 2.5-1.67 1.73-3L13.73 4.99c-.77-1.33-2.69-1.33-3.46 0L2.74 18c-.77 1.33.19 3 1.73 3zM12 14c-.55 0-1-.45-1-1v-2c0-.55.45-1 1-1s1 .45 1 1v2c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z" />
    </svg>
    {%- when 'check-circle' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z" />
    </svg>
    {%- when 'file-upload' -%}
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px">
        <rect fill="none" height="24" width="24" />
        <path
            d="M7.4,10h1.59v5c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1v-5h1.59c0.89,0,1.34-1.08,0.71-1.71L12.7,3.7 c-0.39-0.39-1.02-0.39-1.41,0L6.7,8.29C6.07,8.92,6.51,10,7.4,10z M5,19c0,0.55,0.45,1,1,1h12c0.55,0,1-0.45,1-1s-0.45-1-1-1H6 C5.45,18,5,18.45,5,19z" />
    </svg>
    {%- when 'add-circle' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4 11h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z" />
    </svg>
    {%- when 'help' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92c-.5.51-.86.97-1.04 1.69-.08.32-.13.68-.13 1.14h-2v-.5c0-.46.08-.9.22-1.31.2-.58.53-1.1.95-1.52l1.24-1.26c.46-.44.68-1.1.55-1.8-.13-.72-.69-1.33-1.39-1.53-1.11-.31-2.14.32-2.47 1.27-.12.37-.43.65-.82.65h-.3C8.4 9 8 8.44 8.16 7.88c.43-1.47 1.68-2.59 3.23-2.83 1.52-.24 2.97.55 3.87 1.8 1.18 1.63.83 3.38-.19 4.4z" />
    </svg>
    {%- when 'north-east' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <rect fill="none" height="24" width="24" />
        <path d="M9,5v2h6.59L4,18.59L5.41,20L17,8.41V15h2V5H9z" />
    </svg>
    {%- when 'arrow-down' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" />
    </svg>
    {%- when 'arrow-up' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" />
    </svg>
    {%- when 'close' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z" />
    </svg>
    {%- when 'filter-list' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M11 18h2c.55 0 1-.45 1-1s-.45-1-1-1h-2c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1zm4 6h10c.55 0 1-.45 1-1s-.45-1-1-1H7c-.55 0-1 .45-1 1s.45 1 1 1z" />
    </svg>
    {%- when 'expand-more' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
        <path
            d="M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z" />
    </svg>
    {%- when 'menu-open' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0,0h24v24H0V0z" fill="none" />
        <path
            d="M4,18h11c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1v0C3,17.55,3.45,18,4,18z M4,13h8c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1v0C3,12.55,3.45,13,4,13z M3,7L3,7c0,0.55,0.45,1,1,1h11c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H4C3.45,6,3,6.45,3,7z M20.3,14.88L17.42,12l2.88-2.88c0.39-0.39,0.39-1.02,0-1.41l0,0 c-0.39-0.39-1.02-0.39-1.41,0l-3.59,3.59c-0.39,0.39-0.39,1.02,0,1.41l3.59,3.59c0.39,0.39,1.02,0.39,1.41,0l0,0 C20.68,15.91,20.69,15.27,20.3,14.88z" />
        <path d="M0,0h24v24H0V0z" fill="none" />
    </svg>
    {%- when 'logout' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
            <g>
                <path
                    d="M5,5h6c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h6c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H5V5z" />
                <path
                    d="M20.65,11.65l-2.79-2.79C17.54,8.54,17,8.76,17,9.21V11h-7c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h7v1.79 c0,0.45,0.54,0.67,0.85,0.35l2.79-2.79C20.84,12.16,20.84,11.84,20.65,11.65z" />
            </g>
        </g>
    </svg>
    {%- when 'password' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
            <g>
                <path
                    d="M3,17h18c0.55,0,1,0.45,1,1v0c0,0.55-0.45,1-1,1H3c-0.55,0-1-0.45-1-1v0C2,17.45,2.45,17,3,17z M2.5,12.57 c0.36,0.21,0.82,0.08,1.03-0.28L4,11.47l0.48,0.83c0.21,0.36,0.67,0.48,1.03,0.28l0,0c0.36-0.21,0.48-0.66,0.28-1.02L5.3,10.72 h0.95C6.66,10.72,7,10.38,7,9.97v0c0-0.41-0.34-0.75-0.75-0.75H5.3L5.77,8.4C5.98,8.04,5.86,7.58,5.5,7.37l0,0 C5.14,7.17,4.68,7.29,4.47,7.65L4,8.47L3.53,7.65C3.32,7.29,2.86,7.17,2.5,7.37l0,0C2.14,7.58,2.02,8.04,2.23,8.4L2.7,9.22H1.75 C1.34,9.22,1,9.56,1,9.97v0c0,0.41,0.34,0.75,0.75,0.75H2.7l-0.48,0.83C2.02,11.91,2.14,12.37,2.5,12.57L2.5,12.57z M10.5,12.57 L10.5,12.57c0.36,0.21,0.82,0.08,1.03-0.28L12,11.47l0.48,0.83c0.21,0.36,0.67,0.48,1.03,0.28l0,0c0.36-0.21,0.48-0.66,0.28-1.02 l-0.48-0.83h0.95c0.41,0,0.75-0.34,0.75-0.75v0c0-0.41-0.34-0.75-0.75-0.75H13.3l0.47-0.82c0.21-0.36,0.08-0.82-0.27-1.03l0,0 c-0.36-0.21-0.82-0.08-1.02,0.27L12,8.47l-0.47-0.82c-0.21-0.36-0.67-0.48-1.02-0.27l0,0c-0.36,0.21-0.48,0.67-0.27,1.03 l0.47,0.82H9.75C9.34,9.22,9,9.56,9,9.97v0c0,0.41,0.34,0.75,0.75,0.75h0.95l-0.48,0.83C10.02,11.91,10.14,12.37,10.5,12.57z M23,9.97c0-0.41-0.34-0.75-0.75-0.75H21.3l0.47-0.82c0.21-0.36,0.08-0.82-0.27-1.03l0,0c-0.36-0.21-0.82-0.08-1.02,0.27L20,8.47 l-0.47-0.82c-0.21-0.36-0.67-0.48-1.02-0.27l0,0c-0.36,0.21-0.48,0.67-0.27,1.03l0.47,0.82h-0.95C17.34,9.22,17,9.56,17,9.97v0 c0,0.41,0.34,0.75,0.75,0.75h0.95l-0.48,0.83c-0.21,0.36-0.08,0.82,0.28,1.02l0,0c0.36,0.21,0.82,0.08,1.03-0.28L20,11.47 l0.48,0.83c0.21,0.36,0.67,0.48,1.03,0.28l0,0c0.36-0.21,0.48-0.66,0.28-1.02l-0.48-0.83h0.95C22.66,10.72,23,10.38,23,9.97 L23,9.97z" />
            </g>
        </g>
    </svg>
    {%- when 'face' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
            <path
                d="M10.25,13c0,0.69-0.56,1.25-1.25,1.25S7.75,13.69,7.75,13S8.31,11.75,9,11.75S10.25,12.31,10.25,13z M15,11.75 c-0.69,0-1.25,0.56-1.25,1.25s0.56,1.25,1.25,1.25s1.25-0.56,1.25-1.25S15.69,11.75,15,11.75z M22,12c0,5.52-4.48,10-10,10 S2,17.52,2,12S6.48,2,12,2S22,6.48,22,12z M20,12c0-0.78-0.12-1.53-0.33-2.24C18.97,9.91,18.25,10,17.5,10 c-3.13,0-5.92-1.44-7.76-3.69C8.69,8.87,6.6,10.88,4,11.86C4.01,11.9,4,11.95,4,12c0,4.41,3.59,8,8,8S20,16.41,20,12z" />
        </g>
    </svg>
    {%- when 'bell' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-1.29 1.29c-.63.63-.19 1.71.7 1.71h13.17c.89 0 1.34-1.08.71-1.71L18 16z" />
    </svg>
    {%- when 'home' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z" />
    </svg>
    {%- when 'settings' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <rect fill="none" height="24" width="24" />
        <path
            d="M19.5,12c0-0.23-0.01-0.45-0.03-0.68l1.86-1.41c0.4-0.3,0.51-0.86,0.26-1.3l-1.87-3.23c-0.25-0.44-0.79-0.62-1.25-0.42 l-2.15,0.91c-0.37-0.26-0.76-0.49-1.17-0.68l-0.29-2.31C14.8,2.38,14.37,2,13.87,2h-3.73C9.63,2,9.2,2.38,9.14,2.88L8.85,5.19 c-0.41,0.19-0.8,0.42-1.17,0.68L5.53,4.96c-0.46-0.2-1-0.02-1.25,0.42L2.41,8.62c-0.25,0.44-0.14,0.99,0.26,1.3l1.86,1.41 C4.51,11.55,4.5,11.77,4.5,12s0.01,0.45,0.03,0.68l-1.86,1.41c-0.4,0.3-0.51,0.86-0.26,1.3l1.87,3.23c0.25,0.44,0.79,0.62,1.25,0.42 l2.15-0.91c0.37,0.26,0.76,0.49,1.17,0.68l0.29,2.31C9.2,21.62,9.63,22,10.13,22h3.73c0.5,0,0.93-0.38,0.99-0.88l0.29-2.31 c0.41-0.19,0.8-0.42,1.17-0.68l2.15,0.91c0.46,0.2,1,0.02,1.25-0.42l1.87-3.23c0.25-0.44,0.14-0.99-0.26-1.3l-1.86-1.41 C19.49,12.45,19.5,12.23,19.5,12z M12.04,15.5c-1.93,0-3.5-1.57-3.5-3.5s1.57-3.5,3.5-3.5s3.5,1.57,3.5,3.5S13.97,15.5,12.04,15.5z" />
    </svg>
    {%- when 'survey' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM8 17c-.55 0-1-.45-1-1v-5c0-.55.45-1 1-1s1 .45 1 1v5c0 .55-.45 1-1 1zm4 0c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1s1 .45 1 1v8c0 .55-.45 1-1 1zm4 0c-.55 0-1-.45-1-1v-2c0-.55.45-1 1-1s1 .45 1 1v2c0 .55-.45 1-1 1z" />
    </svg>
    {%- when 'merchandising' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M20 6h-2.18c.11-.31.18-.65.18-1 0-1.66-1.34-3-3-3-1.05 0-1.96.54-2.5 1.35l-.5.67-.5-.68C10.96 2.54 10.05 2 9 2 7.34 2 6 3.34 6 5c0 .35.07.69.18 1H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-5-2c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM9 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm11 15H4v-2h16v2zm0-5H4V9c0-.55.45-1 1-1h4.08L7.6 10.02c-.33.45-.23 1.08.22 1.4.44.32 1.07.22 1.39-.22L12 7.4l2.79 3.8c.32.44.95.54 1.39.22.45-.32.55-.95.22-1.4L14.92 8H19c.55 0 1 .45 1 1v5z" />
    </svg>
    {%- when 'product' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <rect fill="none" height="24" width="24" />
            <rect fill="none" height="24" width="24" />
        </g>
        <g>
            <path
                d="M8,2C6.9,2,6,2.9,6,4l0.01,3.18c0,0.53,0.21,1.03,0.58,1.41L10,12l-3.41,3.43c-0.37,0.37-0.58,0.88-0.58,1.41L6,20 c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2v-3.16c0-0.53-0.21-1.04-0.58-1.41L14,12l3.41-3.4C17.79,8.22,18,7.71,18,7.18V4 c0-1.1-0.9-2-2-2H8z M16,16.91V19c0,0.55-0.45,1-1,1H9c-0.55,0-1-0.45-1-1v-2.09c0-0.27,0.11-0.52,0.29-0.71L12,12.5l3.71,3.71 C15.89,16.39,16,16.65,16,16.91z" />
        </g>
    </svg>
    {%- when 'inventory' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <rect fill="none" height="24" width="24" />
        </g>
        <g>
            <g>
                <path
                    d="M5,5h2v1c0,1.1,0.9,2,2,2h6c1.1,0,2-0.9,2-2V5h2v5h2V5c0-1.1-0.9-2-2-2h-4.18C14.4,1.84,13.3,1,12,1S9.6,1.84,9.18,3H5 C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h6v-2H5V5z M12,3c0.55,0,1,0.45,1,1s-0.45,1-1,1s-1-0.45-1-1S11.45,3,12,3z" />
                <path
                    d="M21.75,12.25c-0.41-0.41-1.09-0.41-1.5,0L15.51,17l-2.26-2.25c-0.41-0.41-1.08-0.41-1.5,0l0,0c-0.41,0.41-0.41,1.09,0,1.5 l3.05,3.04c0.39,0.39,1.02,0.39,1.41,0l5.53-5.54C22.16,13.34,22.16,12.66,21.75,12.25z" />
            </g>
        </g>
    </svg>
    {%- when 'sales' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
            <path
                d="M21.41,11.41l-8.83-8.83C12.21,2.21,11.7,2,11.17,2H4C2.9,2,2,2.9,2,4v7.17c0,0.53,0.21,1.04,0.59,1.41l8.83,8.83 c0.78,0.78,2.05,0.78,2.83,0l7.17-7.17C22.2,13.46,22.2,12.2,21.41,11.41z M6.5,8C5.67,8,5,7.33,5,6.5S5.67,5,6.5,5S8,5.67,8,6.5 S7.33,8,6.5,8z" />
        </g>
    </svg>
    {%- when 'visits' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <g>
            <rect fill="none" height="24" width="24" />
            <path
                d="M20.45,5.37C20.71,4.71,20.23,4,19.52,4H13h-1H7V3c0-0.55-0.45-1-1-1h0C5.45,2,5,2.45,5,3v1v10v8h2v-8h4h1h7.52 c0.71,0,1.19-0.71,0.93-1.37L19,9L20.45,5.37z M15,9c0,1.1-0.9,2-2,2s-2-0.9-2-2s0.9-2,2-2S15,7.9,15,9z" />
        </g>
    </svg>
    {%- when 'calendar' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M19 3h-1V2c0-.55-.45-1-1-1s-1 .45-1 1v1H8V2c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V8h14v10c0 .55-.45 1-1 1zM8 10h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1H8c-.55 0-1-.45-1-1v-3c0-.55.45-1 1-1z" />
    </svg>
    {%- when 'outlets' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M5 6h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1zm15.16 1.8c-.09-.46-.5-.8-.98-.8H4.82c-.48 0-.89.34-.98.8l-1 5c-.12.62.35 1.2.98 1.2H4v5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1v-5h4v5c0 .55.45 1 1 1s1-.45 1-1v-5h.18c.63 0 1.1-.58.98-1.2l-1-5zM12 18H6v-4h6v4z" />
    </svg>
    {%- when 'maps' -%}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" />
    </svg>
    {%- when 'icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.61 91.68">
        <defs>
            <style>
                .cls-1 {
                    fill: #e03e27;
                }

                .cls-2 {
                    fill: #2d3e51;
                }
            </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M46.82,34.1A11.74,11.74,0,1,1,35.08,45.84,11.73,11.73,0,0,1,46.82,34.1Z" />
                <path class="cls-2" d="M93.58,45.92a11.7,11.7,0,1,1-11.66-11.8A11.65,11.65,0,0,1,93.58,45.92Z" />
                <path class="cls-2" d="M81.86,68.25A11.71,11.71,0,1,1,70.17,80,11.7,11.7,0,0,1,81.86,68.25Z" />
                <path class="cls-2" d="M47,68.25A11.71,11.71,0,1,1,35.07,79.71,11.69,11.69,0,0,1,47,68.25Z" />
                <path class="cls-1" d="M46.85,23.42A11.71,11.71,0,1,1,58.54,11.65,11.66,11.66,0,0,1,46.85,23.42Z" />
                <path class="cls-1" d="M11.72,23.43A11.72,11.72,0,1,1,23.44,11.69,11.69,11.69,0,0,1,11.72,23.43Z" />
                <path class="cls-1" d="M11.71,91.66A11.72,11.72,0,1,1,23.44,79.91,11.77,11.77,0,0,1,11.71,91.66Z" />
                <path class="cls-1" d="M81.89,23.43A11.72,11.72,0,1,1,93.6,11.56,11.7,11.7,0,0,1,81.89,23.43Z" />
                <path class="cls-1" d="M23.44,46A11.72,11.72,0,1,1,12,34.1,11.71,11.71,0,0,1,23.44,46Z" />
            </g>
        </g>
    </svg>
    {%- when 'logo' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.64 29.3">
        <defs>
            <style>
                .cls-1 {
                    fill: #e03e27;
                }

                .cls-2 {
                    fill: #2d3e51;
                }
            </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M15,10.9a3.75,3.75,0,1,1-3.75,3.75A3.75,3.75,0,0,1,15,10.9Z" />
                <path class="cls-2" d="M29.91,14.68a3.74,3.74,0,1,1-3.73-3.78A3.72,3.72,0,0,1,29.91,14.68Z" />
                <path class="cls-2" d="M26.16,21.81a3.75,3.75,0,1,1,0,7.49,3.75,3.75,0,0,1,0-7.49Z" />
                <path class="cls-2" d="M15,21.81a3.75,3.75,0,1,1-3.8,3.66A3.75,3.75,0,0,1,15,21.81Z" />
                <path class="cls-1" d="M15,7.49a3.75,3.75,0,1,1,3.74-3.77A3.74,3.74,0,0,1,15,7.49Z" />
                <path class="cls-1" d="M3.75,7.49A3.75,3.75,0,1,1,7.49,3.74,3.73,3.73,0,0,1,3.75,7.49Z" />
                <path class="cls-1" d="M3.74,29.29a3.75,3.75,0,1,1,3.75-3.75A3.76,3.76,0,0,1,3.74,29.29Z" />
                <path class="cls-1" d="M26.17,7.49a3.75,3.75,0,1,1,3.74-3.8A3.73,3.73,0,0,1,26.17,7.49Z" />
                <path class="cls-1" d="M7.49,14.7a3.74,3.74,0,1,1-3.66-3.8A3.73,3.73,0,0,1,7.49,14.7Z" />
                <path class="cls-2" d="M40.1,25.5V3.7H54.17V6.91H44.08V13h8.16v3.15H44.08V25.5Z" />
                <path class="cls-2"
                    d="M59.31,7.66A2.49,2.49,0,0,1,57.52,7a2.13,2.13,0,0,1-.7-1.65,2.09,2.09,0,0,1,.7-1.63,2.52,2.52,0,0,1,1.79-.64,2.55,2.55,0,0,1,1.79.64,2.12,2.12,0,0,1,.7,1.63A2.17,2.17,0,0,1,61.1,7,2.52,2.52,0,0,1,59.31,7.66Zm-2,17.84V10.05h4V25.5Z" />
                <path class="cls-2"
                    d="M73,25.87a8.4,8.4,0,0,1-4.14-1A7.25,7.25,0,0,1,66,22.07a8.32,8.32,0,0,1-1-4.17,8.89,8.89,0,0,1,1-4.27,7.42,7.42,0,0,1,2.81-2.91,8.28,8.28,0,0,1,4.22-1,7.88,7.88,0,0,1,4,1,7.2,7.2,0,0,1,2.73,2.72,7.67,7.67,0,0,1,1,3.84c0,.23,0,.47,0,.72s0,.51,0,.78H68.93a4,4,0,0,0,1.26,2.83,3.93,3.93,0,0,0,2.75,1,3.57,3.57,0,0,0,2-.55,3.35,3.35,0,0,0,1.23-1.41h4.05a7.3,7.3,0,0,1-1.45,2.66,7,7,0,0,1-2.49,1.88A7.81,7.81,0,0,1,73,25.87Zm0-12.95a4.25,4.25,0,0,0-2.59.82A3.83,3.83,0,0,0,69,16.25h7.69a3.36,3.36,0,0,0-1.12-2.43A3.75,3.75,0,0,0,73,12.92Z" />
                <path class="cls-2" d="M84.09,25.5V3.08h4V25.5Z" />
                <path class="cls-2"
                    d="M99.25,25.87a7.21,7.21,0,0,1-3.89-1.06,7.57,7.57,0,0,1-2.71-2.9,8.63,8.63,0,0,1-1-4.17,8.55,8.55,0,0,1,1-4.15,7.49,7.49,0,0,1,2.71-2.87,7.37,7.37,0,0,1,3.89-1,6.82,6.82,0,0,1,3,.65,5.55,5.55,0,0,1,2.12,1.84V3.08h4V25.5h-3.54l-.44-2.22a7.08,7.08,0,0,1-2,1.81A5.86,5.86,0,0,1,99.25,25.87Zm.84-3.49a4.17,4.17,0,0,0,3.16-1.29,4.62,4.62,0,0,0,1.23-3.32,4.6,4.6,0,0,0-1.23-3.31,4.52,4.52,0,0,0-6.3,0,4.53,4.53,0,0,0-1.25,3.3A4.63,4.63,0,0,0,97,21.07,4.13,4.13,0,0,0,100.09,22.38Z" />
                <path class="cls-2"
                    d="M112.55,25.5V3.7h4.73l6.94,13.82L131.07,3.7h4.73V25.5h-4v-15l-6.07,11.92H122.6l-6.07-11.92v15Z" />
                <path class="cls-2"
                    d="M145.27,25.87a7.24,7.24,0,0,1-3.27-.64,4.34,4.34,0,0,1-1.9-1.7,4.44,4.44,0,0,1-.62-2.33,4.26,4.26,0,0,1,1.68-3.49,8,8,0,0,1,5-1.34h3.92V16a2.87,2.87,0,0,0-.9-2.34,3.43,3.43,0,0,0-2.24-.74,3.89,3.89,0,0,0-2.12.57,2.51,2.51,0,0,0-1.12,1.7h-3.89A5.37,5.37,0,0,1,141,12.26a6.39,6.39,0,0,1,2.53-1.91A8.69,8.69,0,0,1,147,9.68a7.67,7.67,0,0,1,5.2,1.65,5.85,5.85,0,0,1,1.9,4.67v9.5h-3.39l-.38-2.5a5.79,5.79,0,0,1-1.91,2.06A5.66,5.66,0,0,1,145.27,25.87Zm.9-3.11a3.29,3.29,0,0,0,2.66-1.13,5.47,5.47,0,0,0,1.2-2.77h-3.39a3.59,3.59,0,0,0-2.28.58,1.8,1.8,0,0,0-.68,1.42,1.64,1.64,0,0,0,.68,1.4A3,3,0,0,0,146.17,22.76Z" />
                <path class="cls-2"
                    d="M156.44,25.5l5.61-7.73-5.61-7.72h4.27l3.92,5.48,3.89-5.48h4.3l-5.64,7.72,5.64,7.73h-4.3L164.63,20l-3.92,5.48Z" />
                <path class="cls-2"
                    d="M175.47,25.5V3.7h8.06a9.54,9.54,0,0,1,4.33.87A5.82,5.82,0,0,1,190.41,7a7,7,0,0,1,.84,3.43,6.9,6.9,0,0,1-.81,3.31,5.93,5.93,0,0,1-2.52,2.43,9.28,9.28,0,0,1-4.39.92h-4.08V25.5Zm4-11.68h3.83a4.17,4.17,0,0,0,3-.92,3.39,3.39,0,0,0,.91-2.5,3.44,3.44,0,0,0-.91-2.54,4.17,4.17,0,0,0-3-.92h-3.83Z" />
                <path class="cls-2"
                    d="M194.27,25.5V10.05h3.55l.37,2.9a6.46,6.46,0,0,1,2.29-2.38,6.33,6.33,0,0,1,3.41-.89v4.2h-1.12a6.29,6.29,0,0,0-2.33.41,3.14,3.14,0,0,0-1.61,1.4,5.61,5.61,0,0,0-.57,2.77v7Z" />
                <path class="cls-2"
                    d="M213.73,25.87a7.9,7.9,0,0,1-4-1A7.48,7.48,0,0,1,206.86,22a8.38,8.38,0,0,1-1-4.22,8.18,8.18,0,0,1,1.06-4.21,7.64,7.64,0,0,1,2.85-2.85,8.34,8.34,0,0,1,8,0,7.45,7.45,0,0,1,2.83,2.85,8.27,8.27,0,0,1,1,4.21,8.28,8.28,0,0,1-1,4.22,7.41,7.41,0,0,1-2.84,2.85A8,8,0,0,1,213.73,25.87Zm0-3.46a3.71,3.71,0,0,0,2.71-1.16,4.76,4.76,0,0,0,1.15-3.48,4.75,4.75,0,0,0-1.15-3.47,3.72,3.72,0,0,0-5.4,0,4.79,4.79,0,0,0-1.14,3.47A4.8,4.8,0,0,0,211,21.25,3.63,3.63,0,0,0,213.73,22.41Z" />
            </g>
        </g>
    </svg>
{%- endcase -%}
