<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6">
    <div class="flex flex-col items-center justify-center pb-6">
        <a href="" class="font-medium text-sm text-gray-500 text-center">
            <span>Line Chart</span>
            <span class="flex items-center justify-center text-supernova-500">
                <span>View More</span>
                <span class="w-5 ml-1 flex">
                    {%- include icons.html icon="north-east" -%}
                </span>
            </span>
        </a>
    </div>
    <div class="overflow-auto">
        <canvas id="line-chart" width="768" height="248"></canvas>
    </div>
</div>