<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden h-full p-6">
    <div class="flex flex-col items-center justify-center pb-4">
        <a href="" class="font-medium text-sm text-gray-500 text-center">
            <span>Actual vs Target Sales</span>
            <span class="flex items-center justify-center text-supernova-500">
                <span>View More</span>
                <span class="w-5 ml-1 flex">
                    {%- include icons.html icon="north-east" -%}
                </span>
            </span>
        </a>
    </div>
    <div class="overflow-auto flex justify-center">
        <canvas id="pie-1" width="248" height="248"></canvas>
    </div>
</div>
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden h-full p-6">
    <div class="flex flex-col items-center justify-center pb-4">
        <a href="" class="font-medium text-sm text-gray-500 text-center">
            <span>Actual vs Target Visits</span>
            <span class="flex items-center justify-center text-supernova-500">
                <span>View More</span>
                <span class="w-5 ml-1 flex">
                    {%- include icons.html icon="north-east" -%}
                </span>
            </span>
        </a>
    </div>
    <div class="overflow-auto flex justify-center">
        <canvas id="pie-2" width="248" height="248"></canvas>
    </div>
</div>
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden h-full p-6">
    <div class="flex flex-col items-center justify-center pb-4">
        <a href="" class="font-medium text-sm text-gray-500 text-center">
            <span>Productivity</span>
            <span class="flex items-center justify-center text-supernova-500">
                <span>View More</span>
                <span class="w-5 ml-1 flex">
                    {%- include icons.html icon="north-east" -%}
                </span>
            </span>
        </a>
    </div>
    <div class="overflow-auto flex justify-center">
        <canvas id="pie-3" width="248" height="248"></canvas>
    </div>
</div>