<div class="promo-card bg-supernova-500 text-white p-6 rounded-lg shadow-sm h-full">
    <h3 class="mb-2">
        <span class="text-sm opacity-70 font-medium block">Scheduled Visits</span>
        <span class="text-xl sm:text-2xl leading-none">
            You have no Visits scheduled today.
        </span>
    </h3>
    <p class="opacity-70">
        Use the Visits tab to see all your Scheduled Visist and add a new Visit.
    </p>
    <div class="mt-10">
        <a
            href="/"
            class="text-xs uppercase font-bold tracking-wider py-2.5 px-3 inline-flex items-center rounded-full bg-supernova-900 text-white focus:bg-supernova-300 hover:bg-supernova-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-supernova-300 transition duration-300">
            <span>Go To Visits</span>
            <span class="w-5 ml-1 flex">
                {%- include icons.html icon="north-east" -%}
            </span>
        </a>
    </div>
</div>