<ul class="divide-y divide-gray-200 -mt-3">
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-green-500 mr-2 py-3">
                {%- include icons.html icon="check-circle" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">Ambrose Nigeria Limited</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Kabolobari Benakole</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>May 4, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
    <li class="flex items-center justify-between">
        <div class="relative focus-within:ring-2 focus-within:ring-supernova-500 flex flex-1 mr-3">
            <span class="flex-shrink-0 w-6 text-yellow-500 mr-2 py-3">
                {%- include icons.html icon="warning" -%}
            </span>
            <div class="py-3">
                <h3 class="text-sm font-semibold text-gray-800">
                    <a href="#" class="hover:underline focus:outline-none text-supernova-500">
                        <!-- Extend touch target to entire panel -->
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <span class="truncate">K16E, Inc.</span>
                    </a>
                </h3>
                <ul class="mt-1 text-sm text-gray-500 space-y-0.5">
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="person" -%}
                        </span>
                        <span>Seun Republic</span>
                    </li>
                    <li class="flex items-center font-medium">
                        <span class="flex-shrink-0 w-4 mr-1">
                            {%- include icons.html icon="calendar" -%}
                        </span>
                        <span>June 12, 2021</span>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="flex-shrink-0 w-5 text-gray-300 focus:text-supernova-500 hover:text-supernova-500">
            {%- include icons.html icon="info" -%}
        </a>
    </li>
</ul>