<dl class="grid sm:grid-cols-2 md:grid-cols-1 rounded-lg h-full">
    <div
        class="flex flex-col justify-center items-center h-40 sm:h-full border-b sm:border-r md:border-r-0 sm:border-b-0 md:border-b border-gray-100 p-6">
        <dt class="font-medium text-sm text-gray-500">
            Total Outlets
        </dt>
        <dd class="mt-1 text-3xl font-bold text-steel-500">
            <span>400</span>
        </dd>
        <span class="order-3 up-or-down is-up flex items-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+2.22%</span>
        </span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div
            class="flex flex-col items-center justify-center h-40 md:h-full border-t border-b border-gray-100 p-6 text-center md:border-b-0 sm:border-l md:border-r">
            <dt class="order-2 font-medium text-sm text-gray-500">
                Outlet Type
            </dt>
            <dd class="my-1 text-3xl font-bold text-steel-500">
                <span>36</span>
            </dd>
            <span class="order-3 up-or-down is-up flex items-center justify-center text-red-500 font-bold text-xs mt-1">
                <span class="w-5 flex-shrink-0 mr-0.5">
                    {%- include icons.html icon="arrow-down" -%}
                </span>
                <span>-0.22%</span>
            </span>
        </div>
        <div
            class="flex flex-col items-center justify-center h-40 md:h-full border-b border-t border-gray-100 p-6 text-center sm:border-l md:border-r">
            <dt class="order-2 font-medium text-sm text-gray-500">
                Most Covered
            </dt>
            <dd class="mt-1 text-3xl font-bold text-steel-500">
                <span>3</span>
            </dd>
            <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
                <span class="w-5 flex-shrink-0 mr-0.5">
                    {%- include icons.html icon="arrow-up" -%}
                </span>
                <span>+3%</span>
            </span>
        </div>
        <div
            class="flex flex-col items-center justify-center h-40 md:h-full border-t border-gray-100 p-6 text-center sm:border-l">
            <dt class="order-2 font-medium text-sm text-gray-500">
                Least Covered
            </dt>
            <dd class="mt-1 text-3xl font-bold text-steel-500">
                <span>42</span>
            </dd>
            <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
                <span class="w-5 flex-shrink-0 mr-0.5">
                    {%- include icons.html icon="arrow-up" -%}
                </span>
                <span>+3%</span>
            </span>
        </div>
    </div>
</dl>