<dl class="md:grid md:grid-cols-3 rounded-lg">
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-b border-gray-100 p-6 text-center md:border-b-0 md:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Total Payments
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            <span>&#8358;</span><span>4M+</span>
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+2.22%</span>
        </span>
    </a>
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-t md:border-t-0 border-b border-gray-100 p-6 text-center md:border-b-0 md:border-l md:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Total Sales
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            <span>&#8358;</span><span>36K+</span>
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-red-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-down" -%}
            </span>
            <span>-0.22%</span>
        </span>
    </a>
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-t md:border-t-0 border-gray-100 p-6 text-center md:border-l">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Total Payment Balance
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            <span>&#8358;</span><span>4,000</span>
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+3%</span>
        </span>
    </a>
</dl>