<dl class="grid sm:grid-cols-2 rounded-lg">
    <div class="flex flex-col items-center justify-center border-b border-gray-100 p-6 text-center sm:border-b-0 sm:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Productivity
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            10
        </dd>
    </div>
    <div class="flex flex-col items-center justify-center border-t sm:border-t-0 border-gray-100 p-6 text-center sm:border-l">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Productivity Target
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            456
        </dd>
    </div>
</dl>