<dl class="sm:grid sm:grid-cols-2 lg:grid-cols-4 rounded-lg">
    <a href="/" class="flex flex-col items-center justify-center h-40 border-b border-gray-100 p-6 text-center lg:border-b-0 sm:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Planned Visits
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            0/0
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+22.22%</span>
        </span>
    </a>
    <a href="/" class="flex flex-col items-center justify-center h-40 border-t sm:border-t-0 border-b border-gray-100 p-6 text-center lg:border-b-0 sm:border-l lg:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Total Sales
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            0
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-red-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-down" -%}
            </span>
            <span>-0.22%</span>
        </span>
    </a>
    <a href="/" class="flex flex-col items-center justify-center h-40 border-t lg:border-t-0 border-b border-gray-100 p-6 text-center sm:border-b-0 lg:border-l sm:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Field Users
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            0/23
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+3%</span>
        </span>
    </a>
    <a href="/" class="flex flex-col items-center justify-center h-40 border-t lg:border-t-0 border-gray-100 p-6 text-center lg:border-b-0 sm:border-l">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            Visit Exceptions
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            0
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>+40.22%</span>
        </span>
    </a>
</dl>