<div class="flex flex-col items-center justify-center">
    <span class="flex text-3xl font-bold text-steel-500">
        {{ include.number }}
    </span>
    {% if include.text %}
        <span class="flex flex-wrap mt-1 font-medium text-sm text-gray-500 w-40 text-center">
            {{ include.text }}
        </span>
    {% endif %}
    {% if include.explainer %}
        <span class="flex items-center justify-center font-bold text-xs mt-1 {{ include.color }}">
            {% if include.icon %}
                <span class="w-5 flex-shrink-0 mr-0.5">
                    {{ include.icon }}
                </span>
            {% endif %}
            <span>{{ include.explainer }}</span>
        </span>
    {% endif %}
</div>