<button
    class="{% if include.icon %}py-2{% else %}py-3{% endif %} px-4 inline-flex items-center rounded-full bg-supernova-500 text-white focus:bg-supernova-700 hover:bg-supernova-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-supernova-500 {% if include.target %}modal-trigger{% endif %}"
    data-target="{{ include.target }}">
    {% if include.icon %}
        <span class="flex-shrink-0 mr-1">
            {{ include.icon }}
        </span>
    {% endif %}
    <span class="flex items-center text-xs uppercase tracking-wide font-bold">
        {{ include.text }}
    </span>
</button>