<button
    class="{% if include.icon %}py-2{% else %}py-3{% endif %} px-4 inline-flex items-center rounded-full bg-gray-100 text-steel-500 focus:bg-gray-300 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-steel-500 {% if include.target %}modal-trigger{% endif %}"
    data-target="{{ include.target }}">
    {% if include.icon %}
        <span class="flex-shrink-0 mr-1">
            {{ include.icon }}
        </span>
    {% endif %}
    <span class="flex items-center text-xs uppercase tracking-wide font-bold">
        {{ include.text }}
    </span>
</button>