<div class="flex flex-col items-center {% if include.align_left %}self-start{% endif %} {% if include.heading_padding %}p-4{% else %}pb-4{% endif %}">
    {% if include.link_url %}
        <a href="{{ include.link_url }}" class="font-medium text-sm text-gray-500 {% if include.align_left %}text-left{% else %}text-center{% endif %}">
            <span>{{ include.heading }}</span>
            <span class="flex items-center {% if include.align_left %}justify-start{% else %}justify-center{% endif %} text-supernova-500">
                <span>{{ include.link_title }}</span>
                <span class="w-5 ml-1 flex">
                    {%- include icons.html icon="north-east" -%}
                </span>
            </span>
        </a>
    {% else %}
        <p class="font-medium text-sm text-gray-500 {% if include.align_left %}text-left{% else %}text-center{% endif %}">
            <span>{{ include.heading }}</span>
        </p>
    {% endif %}
</div>