<dl class="sm:grid sm:grid-cols-2 lg:grid-cols-4 rounded-lg">
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-b border-gray-100 p-6 text-center lg:border-b-0 sm:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            {{ include.num_1_text }}
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            {{ include.num_1_num }}
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>{{ include.num_1_pc }}</span>
        </span>
    </a>
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-t sm:border-t-0 border-b border-gray-100 p-6 text-center lg:border-b-0 sm:border-l lg:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            {{ include.num_2_text }}
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            {{ include.num_2_num }}
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-red-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-down" -%}
            </span>
            <span>{{ include.num_2_pc }}</span>
        </span>
    </a>
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-t lg:border-t-0 border-b border-gray-100 p-6 text-center sm:border-b-0 lg:border-l sm:border-r">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            {{ include.num_3_text }}
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            {{ include.num_3_num }}
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>{{ include.num_3_pc }}</span>
        </span>
    </a>
    <a href="/"
        class="flex flex-col items-center justify-center h-40 border-t lg:border-t-0 border-gray-100 p-6 text-center lg:border-b-0 sm:border-l">
        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">
            {{ include.num_4_text }}
        </dt>
        <dd class="order-1 text-3xl font-bold text-steel-500">
            {{ include.num_4_num }}
        </dd>
        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold text-xs mt-1">
            <span class="w-5 flex-shrink-0 mr-0.5">
                {%- include icons.html icon="arrow-up" -%}
            </span>
            <span>{{ include.num_4_pc }}</span>
        </span>
    </a>
</dl>