---
layout: default
---
{%- capture icon_add_circle -%}
    {%- include icons.html icon="add-circle" -%}
{%- endcapture -%}
{%- capture icon_file_upload -%}
    {%- include icons.html icon="file-upload" -%}
{%- endcapture -%}
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
    <div class="col-span-full lg:col-span-2 order-2 lg:order-1">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden pb-6">
            <div class="flex items-center justify-center lg:justify-start p-6">
                <p class="font-medium text-sm text-gray-500 text-center lg:text-left">
                    <span>Calendar Summary</span>
                    <span class="date-range block">
                        (25 Apr 2021 - 6 Jun 2021)
                    </span>
                </p>
            </div>
            {% include calendar-summary.html %}
        </div>
    </div>
    <div class="col-span-full lg:col-span-1 self-center justify-self-center lg:order-2">
        <div class="flex items-center space-x-3">
            {% include comps/button-primary.html text="New Visit" icon=icon_add_circle target="newVisit" %}
            {% include comps/button-alt.html text="Upload Visits" icon=icon_file_upload target="uploadVisits" %}
        </div>
    </div>
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-3">
    <div class="lg:col-span-2">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6 h-full" style="height: 520px;">
            <div id='calendar' class="overflow-auto h-full"></div>
        </div>
    </div>
    <div class="lg:col-span-1">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6 flex flex-col" style="height: 520px;">
            <div class="flex items-center justify-center lg:justify-start pb-6">
                <p class="font-medium text-sm text-gray-500 text-center lg:text-left">
                    <span>Schedule List</span>
                </p>
            </div>
            <div class="flex-1 overflow-auto">
                {% include stacked-lists.html %}
            </div>
        </div>
    </div>
</div>