---
layout: default
---
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden">
    {% include top-summary-cols-4.html %}
</div>
<div class="grid grid-cols-3 gap-3 mt-3">
    <div class="col-span-full lg:col-span-2">
        {% include bar-chart.html %}
    </div>
    <div class="col-span-full lg:col-span-1 h-full">
        {% include doughnut-chart.html %}
    </div>
</div>
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden mt-3">
    {% include top-summary-cols-3.html %}
</div>
<div class="grid grid-cols-3 gap-3 mt-3">
    <div class="col-span-full lg:col-span-2">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden h-full">
            {% include top-summary-breakdown.html %}
        </div>
    </div>
    <div class="col-span-full lg:col-span-1 h-full">
        {% include promo-card.html %}
    </div>
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-3">
    {% include pies.html %}
</div>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-3 mt-3">
    {% include line-chart.html %}
    {% include bar-chart-grouped.html %}
</div>