<!doctype html>
{%- assign class = nil -%}
{%- if page.layout -%}
    {%- assign class = class | append: page.layout -%}
{%- endif -%}
<html lang="en" class="is-{{ class }} bg-gray-200">
    {%- include head.html -%}
    <body class="relative overflow-hidden">
        <a class="sr-only" href="#main">Skip to content</a>
        <h1 class="sr-only">{{ site.title }}</h1>
        {%- include header.html -%}
        <main id="main" class="grid grid-cols-12 grid-rows-6 pr-3 relative h-screen overflow-y-auto" style="padding-top: 62px;">
            {%- include aside.html -%}
            <div class="main-content col-span-full row-span-full">
                <div class="pt-3 pl-3 pb-3 bg-gray-200 z-40">
                    {{ content }}
                </div>
            </div>
        </main>
        {% include filters.html %}
        {% include modals/new-visit.html %}
        {% include modals/upload-visits.html %}
        {% include modals/photoswipe-root.html %}
        {%- if page.url == '/' -%}
            <div role="application" class="absolute inset-0 h-screen r-map js-map" data-coords="6.5801382,3.3415718"></div>
        {%- endif -%}
        <script>
            let
                q = (selector, parent) => (parent ? parent : document).querySelector(selector),
                qq = (selector, parent) => Array.from((parent ? parent : document).querySelectorAll(selector)),
                nl = (selector, parent) => (parent ? parent : document).querySelectorAll(selector),
                log = (el) => console.log(el),
                body = q('body')
                window.addEventListener('DOMContentLoaded', e => {
                    window.addEventListener('resize', () => {
                        if (window.innerWidth < 1280) body.classList.remove('nav-is-visible')
                    }, false)

                    if (q('#calendar')) {
                        let
                            calendarEl = q('#calendar'),
                            calendar = new FullCalendar.Calendar(calendarEl, {
                                headerToolbar: {
                                    left: 'prev,next today',
                                    center: 'title',
                                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                                }
                            })
                        calendar.render()
                    }

                    if (q('.r-alert')) {
                        let
                            alerts = qq('.r-alert')
                        alerts.forEach(el => {
                            let
                                hide = ['opacity-0', 'translate-y-full'],
                                show = ['opacity-100', '-translate-y-6'],
                                del = el.querySelector('button')
                            if (el.classList.contains('r-show-on-load')) {
                                setTimeout(() => {
                                    el.classList.remove(...hide)
                                    el.classList.add(...show)
                                }, 1500)
                            }
                            del.addEventListener('click', () => {
                                el.classList.add(...hide)
                                setTimeout(() => {
                                    el.remove()
                                }, 1000)
                            }, false)
                        })
                    }
                }, false)
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
        {%- if page.url == '/calendar/' -%}
            <script src="{{ '/assets/js/fullcalendar.min.js' | prepend: site.url }}"></script>
        {%- endif -%}
        <script src="{{ '/assets/js/materialize.min.js' | prepend: site.url }}"></script>
        <script src="{{ '/assets/js/simple-datatables.min.js' | prepend: site.url }}"></script>
        <script src="{{ '/assets/js/photoswipe.min.js' | prepend: site.url }}"></script>
        <script src="{{ '/assets/js/photoswipe-ui-default.min.js' | prepend: site.url }}"></script>
        <script src="{{ '/assets/js/photoswipe-init.js' | prepend: site.url }}"></script>
        <script src="{{ '/assets/js/map.js' | prepend: site.url }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALebkK0mqaGj6Z5K6qUghsKGHC-7toDJo&callback=initMap"></script>
        <script src="{{ '/assets/js/main.js' | prepend: site.url }}"></script>
    </body>
</html>