---
layout: default
---
{%- capture growth_trend -%}
    <canvas id="line-2" width="1024" height="296"></canvas>
{%- endcapture -%}
{% include modals/info.html %}
<div class="relative z-30 grid grid-cols-1 gap-3">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-3">

        <!-- Map Container -->
        <div class="xl:col-span-2 grid grid-cols-1 gap-3">
            <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden">
                <div id="r-map-container" class="r-map-container overflow-hidden h-96">
                    <div class="overflow-auto h-full">
                        <img src="{{ '/assets/images/maps.png' | prepend: site.url }}" alt="" class="max-w-none">
                    </div>
                </div>
            </div>
        </div>

        <!-- Map Data 1 -->
        <div class="xl:col-span-1 grid grid-cols-1 gap-3">
            <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden pb-3">
                <div class="flex flex-col items-center p-3">
                    <p class="font-medium text-sm text-gray-500 text-center">
                        <span>Insights</span>
                    </p>
                </div>

                <dl class="grid grid-cols-2 rounded-lg">
                    <a href="/" class="flex flex-col items-center justify-center h-28 border-b border-r border-gray-100 p-6 text-center">
                        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Planned Visits</dt>
                        <dd class="order-1 text-xl font-bold text-steel-500">0/0</dd>
                        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 mt-1">
                            <span class="w-5 flex-shrink-0 mr-0.5">
                                {%- include icons.html icon="arrow-up" -%}
                            </span>
                            <span class="text-xs font-bold">+22.22%</span>
                        </span>
                    </a>
                    <a href="/" class="flex flex-col items-center justify-center h-28 border-b border-l border-gray-100 p-6 text-center">
                        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Total Sales</dt>
                        <dd class="order-1 text-xl font-bold text-steel-500">0</dd>
                        <span class="order-3 up-or-down is-up flex items-center justify-center text-red-500 mt-1">
                            <span class="w-5 flex-shrink-0 mr-0.5">
                                {%- include icons.html icon="arrow-down" -%}
                            </span>
                            <span class="text-xs font-bold">-0.22%</span>
                        </span>
                    </a>
                    <a href="/" class="flex flex-col items-center justify-center h-28 border-t border-r border-gray-100 p-6 text-center">
                        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Field Users</dt>
                        <dd class="order-1 text-xl font-bold text-steel-500">0/23</dd>
                        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold mt-1">
                            <span class="w-5 flex-shrink-0 mr-0.5">
                                {%- include icons.html icon="arrow-up" -%}
                            </span>
                            <span class="text-xs font-bold">+3%</span>
                        </span>
                    </a>
                    <a href="/" class="flex flex-col items-center justify-center h-28 border-t border-l border-gray-100 p-6 text-center">
                        <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Visit Exceptions</dt>
                        <dd class="order-1 text-xl font-bold text-steel-500">0</dd>
                        <span class="order-3 up-or-down is-up flex items-center justify-center text-green-500 font-bold mt-1">
                            <span class="w-5 flex-shrink-0 mr-0.5">
                                {%- include icons.html icon="arrow-up" -%}
                            </span>
                            <span class="text-xs font-bold">+40.22%</span>
                        </span>
                    </a>
                </dl>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden">
                    <div class="flex flex-col items-center border-b border-gray-100 p-3">
                        <a href="" class="font-medium text-sm text-gray-500">
                            <span>Payment Summary</span>
                            <span class="flex items-center justify-center text-supernova-500">
                                <span>View All</span>
                                <span class="w-5 ml-1 flex">
                                    {%- include icons.html icon="north-east" -%}
                                </span>
                            </span>
                        </a>
                    </div>

                    <dl class="grid rounded-lg">
                        <a href="/" class="flex flex-col items-center justify-center h-28 border-b-2 border-gray-100 p-3">
                            <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Total Payments</dt>
                            <dd class="order-1 text-xl font-bold text-steel-500">
                                <span>&#8358;</span><span>4M+</span>
                            </dd>
                            <span class="order-3 up-or-down is-up flex items-center text-green-500 font-bold text-sm mt-1">
                                <span class="w-5 flex-shrink-0 mr-0.5">
                                    {%- include icons.html icon="arrow-up" -%}
                                </span>
                                <span class="text-xs font-bold">+2.22%</span>
                            </span>
                        </a>
                        <a href="/" class="flex flex-col items-center justify-center h-28 p-4">
                            <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Total Sales</dt>
                            <dd class="order-1 text-xl font-bold text-steel-500">
                                <span>&#8358;</span><span>36K+</span>
                            </dd>
                            <span class="order-3 up-or-down is-up flex items-center text-red-500 font-bold text-sm mt-1">
                                <span class="w-5 flex-shrink-0 mr-0.5">
                                    {%- include icons.html icon="arrow-down" -%}
                                </span>
                                <span class="text-xs font-bold">-0.22%</span>
                            </span>
                        </a>
                    </dl>
                </div>

                <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden">
                    <div class="flex flex-col items-center border-b border-gray-100 p-3">
                        <a href="" class="font-medium text-sm text-gray-500">
                            <span>Another Section</span>
                            <span class="flex items-center justify-center text-supernova-500">
                                <span>View All</span>
                                <span class="w-5 ml-1 flex">
                                    {%- include icons.html icon="north-east" -%}
                                </span>
                            </span>
                        </a>
                    </div>

                    <dl class="grid rounded-lg">
                        <a href="/" class="flex flex-col items-center justify-center h-28 border-b-2 border-gray-100 p-3">
                            <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Total Payments</dt>
                            <dd class="order-1 text-xl font-bold text-steel-500">
                                <span>&#8358;</span><span>4M+</span>
                            </dd>
                            <span class="order-3 up-or-down is-up flex items-center text-green-500 font-bold text-sm mt-1">
                                <span class="w-5 flex-shrink-0 mr-0.5">
                                    {%- include icons.html icon="arrow-up" -%}
                                </span>
                                <span class="text-xs font-bold">+2.22%</span>
                            </span>
                        </a>
                        <a href="/" class="flex flex-col items-center justify-center h-28 p-3">
                            <dt class="order-2 mt-1 font-medium text-sm text-gray-500">Total Sales</dt>
                            <dd class="order-1 text-xl font-bold text-steel-500">
                                <span>&#8358;</span><span>36K+</span>
                            </dd>
                            <span class="order-3 up-or-down is-up flex items-center text-red-500 font-bold text-sm mt-1">
                                <span class="w-5 flex-shrink-0 mr-0.5">
                                    {%- include icons.html icon="arrow-down" -%}
                                </span>
                                <span class="text-xs font-bold">-0.22%</span>
                            </span>
                        </a>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- Map Data 2 -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
        {% include bar-chart-2.html %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden flex flex-col items-center p-3">
                <div class="flex flex-col items-center justify-center pb-3">
                    <a href="" class="font-medium text-sm text-gray-500 text-center">
                        <span>Actual vs Target Visits</span>
                        <span class="flex items-center justify-center text-supernova-500">
                            <span>View More</span>
                            <span class="w-5 ml-1 flex">
                                {%- include icons.html icon="north-east" -%}
                            </span>
                        </span>
                    </a>
                </div>
                <div class="overflow-auto flex flex-col items-center justify-center h-full">
                    <canvas id="pie-2" width="224" height="224"></canvas>
                </div>
            </div>
            <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden flex flex-col items-center p-3">
                <div class="flex flex-col items-center justify-center pb-3">
                    <a href="" class="font-medium text-sm text-gray-500 text-center">
                        <span>Productivity</span>
                        <span class="flex items-center justify-center text-supernova-500">
                            <span>View More</span>
                            <span class="w-5 ml-1 flex">
                                {%- include icons.html icon="north-east" -%}
                            </span>
                        </span>
                    </a>
                </div>
                <div class="overflow-auto flex flex-col items-center justify-center h-full">
                    <canvas id="pie-3" width="224" height="224"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>