---
layout: default
---
<div class="grid grid-cols-3 gap-3">
    <div class="col-span-full lg:col-span-2">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden">
            <div id="map-container" class="map-container overflow-hidden" style="height: 536px;">
                <div class="overflow-scroll h-full">
                    <img
                        src="{{ '/assets/images/maps.png' | prepend: site.url }}"
                        alt=""
                        class="max-w-screen-xl"
                    >
                </div>
            </div>
            <div class="p-6">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ullam. Accusantium tempora ex repellat nobis sequi
                inventore, totam voluptatum sint esse accusamus expedita aut in hic deleniti officiis quam nam.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ullam. Accusantium tempora ex repellat nobis sequi
                inventore, totam voluptatum sint esse accusamus expedita aut in hic deleniti officiis quam
            </div>
        </div>
    </div>
    <div class="col-span-full lg:col-span-1">
        <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6 h-full">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ullam. Accusantium tempora ex repellat nobis sequi
            inventore, totam voluptatum sint esse accusamus expedita aut in hic deleniti officiis quam nam.
        </div>
    </div>
</div>