---
layout: default
---
{%- capture icon_add_circle -%}
    {%- include icons.html icon="add-circle" -%}
{%- endcapture -%}
{%- capture icon_file_upload -%}
    {%- include icons.html icon="file-upload" -%}
{%- endcapture -%}
{%- capture datatable -%}
    <table id="outlet-contacts-datatable"></table>
{%- endcapture -%}
{%- capture heading -%}

{%- endcapture -%}
<div>
    {% include partials/outlets/outlet-contacts-upload.html %}
</div>
<div class="mt-3">
    {% include comps/card.html content=datatable heading_padding=true footer_padding=true heading="Outlets Contacts" align_left=true max_height="99vh" %}
</div>