---
layout: default
---
{%- capture growth_trend -%}
    <canvas id="line-2" width="1280" height="296"></canvas>
{%- endcapture -%}
{%- capture maps -%}
    <img src="{{ '/assets/images/maps.png' | prepend: site.url }}" alt="" class="max-w-screen-xl">
{%- endcapture -%}
{%- capture summary_stacked -%}
    {% include stacked-summary.html %}
{%- endcapture -%}
{%- capture summary -%}
    {% include comps/summary-4.html
        num_1_num="₦5,366,051.25"
        num_1_text="Total Sales"
        num_1_pc="0%"
        num_2_num="₦12,536,055"
        num_2_text="Total Orders"
        num_2_pc="2%"
        num_3_num="4/24"
        num_3_text="Active Sales Reps"
        num_3_pc="2%"
        num_4_num="8/12"
        num_4_text="Active Products"
        num_4_pc="2%"
    %}
{%- endcapture -%}
{%- capture chart -%}
    <canvas id="doughnut-chart" width="392" height="392"></canvas>
{%- endcapture -%}
{%- capture tabs -%}
    <div class="r-tabs-wrapper flex flex-col h-full overflow-y-hidden">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tab1" class="active">Sales Overview</a></li>
            <li class="tab"><a href="#tab2">Sales Figures</a></li>
            <li class="tab"><a href="#tab3">Productivity</a></li>
            <li class="tab"><a href="#tab4">Key SKU Sales</a></li>
        </ul>
        <div class="r-tabs-content flex-1 overflow-auto">
            <div id="tab1" class="">
                {% include stacked-summary.html %}
            </div>
            <div id="tab2" class="">
                {% include table.html %}
            </div>
            <div id="tab3" class="p-4">
                {% include top-summary-cols-2.html %}
                <div class="overflow-auto flex justify-center items-center h-full p-4">
                    <canvas id="visit-doughnut"></canvas>
                </div>
            </div>
            <div id="tab4" class="">
                {% include table.html %}
            </div>
        </div>
    </div>
{%- endcapture -%}
{% include comps/card.html content=summary %}
<div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 mt-3">
        {% include comps/card.html content=chart heading_padding=true padding=true centered=true heading="Sales Distribution
        By Product Brands" max_height="480px" min_height="480px" %}
        {% include comps/card.html content=tabs heading_padding=true heading="Sales Accuracy & Values" max_height="480px"
        min_height="480px" %}
    </div>
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-3">
    <div class="lg:col-span-2">
        {% include comps/card.html
            content=growth_trend
            padding=true
            heading="Sales Performance Chart"
            max_height="360px"
        %}
    </div>
    <div class="lg:col-span-1">
        {% include comps/card.html
            content=maps
            padding=true
            heading="Sales Distribution By Products"
            max_height="360px"
        %}
    </div>
</div>