---
layout: default
---
{% include modals/info.html %}
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6">
    <header class="flex items-center justify-between">
        <h3 class="font-medium text-sm text-gray-500">
            Companies/Any Twin Col
        </h3>
        <button class="font-bold flex items-center justify-center text-supernova-500 bg-gray-100 p-3 rounded-full">
            <span class="w-5 h-5 flex-shrink-0">
                {%- include icons.html icon="sync" -%}
            </span>
        </button>
    </header>
</div>
<div class="grid grid-cols-1 gap-3 lg:grid-cols-3 mt-3">
    <div class="lg:col-span-1 content-card bg-white rounded-lg shadow-sm overflow-hidden p-6">
        <div>
            <h4 class="text-lg leading-6 font-medium text-gray-900">Add a Company</h4>
            <p class="mt-1 text-base text-gray-500">What you see is what you get, what's that?</p>
        </div>
        <form action="" class="mt-6 space-y-6">
            <div
                class="border border-gray-300 rounded-md px-3 py-2 focus-within:ring-1 focus-within:ring-supernova-500 focus-within:border-supernova-500">
                <label for="name" class="block text-base font-medium text-gray-900">
                    Company Name:
                    <span class="text-red-500">*</span>
                </label>
                <input type="text" name="name" id="name"
                    class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 focus:border-opacity-0"
                    placeholder="Jane Doe">
            </div>
            <div
                class="border border-gray-300 rounded-md px-3 py-2 focus-within:ring-1 focus-within:ring-supernova-500 focus-within:border-supernova-500 flex items-center justify-between">
                <label for="colorWell" class="block text-base font-medium text-gray-900 flex-1">
                    Company Color:
                </label>
                <input type="color" name="colorWell" id="colorWell" value="#e03e27"
                    class="block border-0 p-0 focus:ring-0 focus:border-opacity-0 h-12 w-12 outline-none appearance-none rounded-full shadow-xl">
            </div>
            <div class="space-x-2 flex items-center justify-end">
                {% include comps/button-alt.html text="Cancel" %}
                {% include comps/button-primary.html text="Add Company" %}
            </div>
        </form>
    </div>
    <div class="lg:col-span-2 flex flex-col content-card bg-white rounded-lg shadow-sm overflow-hidden p-6" style="max-height: 64vh;">
        <div>
            <h4 class="text-lg leading-6 font-medium text-gray-900">List of Companies</h4>
            <p class="mt-1 text-base text-gray-500">What you see is what you get, what's that?</p>
        </div>
        <div class="mt-6 flex-1 overflow-auto h-full">
            <table id="outlet-contacts-datatable"></table>
        </div>
    </div>
</div>