---
layout: default
---
{%- capture icon_file_upload -%}
    {%- include icons.html icon="file-upload" -%}
{%- endcapture -%}
{% include modals/info.html %}
<div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6">
    <header class="grid grid-cols-1 gap-3 gap-y-6 lg:grid-cols-2 items-center lg:justify-between">
        <h3 class="font-medium text-sm text-gray-500">Set up products & brands</h3>
        <div class="flex items-center lg:justify-self-end space-x-3">
            {% include comps/button-primary.html text="Product Prices" %}
            {% include comps/button-primary.html text="Upload Products" icon=icon_file_upload target="uploadVisits" %}
            <button class="font-bold flex items-center justify-center text-supernova-500 bg-gray-100 p-3 rounded-full">
                <span class="w-5 h-5 flex-shrink-0">
                    {%- include icons.html icon="sync" -%}
                </span>
            </button>
        </div>
    </header>
</div>
<div class="grid grid-cols-1 gap-3 mt-3">
    <div class="content-card bg-white rounded-lg shadow-sm overflow-hidden p-6" style="max-height: 76vh;">
        <div class="r-tabs-wrapper flex flex-col h-full overflow-y-hidden">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#tab1" class="active">Outlet Channels</a></li>
                <li class="tab"><a href="#tab2">Outlet Types</a></li>
                <li class="tab"><a href="#tab3">Contact Titles</a></li>
                <li class="tab"><a href="#tab4">Contact Categories</a></li>
            </ul>
            <div class="r-tabs-content flex-1 overflow-auto">
                <div id="tab1" class="pt-6">
                    <div class="grid grid-cols-1 gap-3 lg:grid-cols-3 space-y-6 lg:space-y-0 lg:space-x-6">
                        <div class="lg:col-span-1">
                            <h4 class="text-lg leading-6 font-medium text-gray-900">Add Channel</h4>
                            <form action="" class="mt-6 space-y-6">
                                <div
                                    class="border border-gray-300 rounded-md px-3 py-2 focus-within:ring-1 focus-within:ring-supernova-500 focus-within:border-supernova-500">
                                    <label for="name" class="block text-base font-medium text-gray-900">
                                        Outlet Channel:
                                        <span class="text-red-500">*</span>
                                    </label>
                                    <input type="text" name="name" id="name"
                                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 focus:border-opacity-0"
                                        placeholder="Jane Doe">
                                </div>
                                <div
                                    class="border border-gray-300 rounded-md px-3 py-2 focus-within:ring-1 focus-within:ring-supernova-500 focus-within:border-supernova-500">
                                    <label for="description" class="block text-base font-medium text-gray-900">
                                        Description:
                                        <span class="text-red-500">*</span>
                                    </label>
                                    <input type="text" name="description" id="description"
                                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 focus:border-opacity-0"
                                        placeholder="Jane Doe">
                                </div>
                                <div class="space-x-2">
                                    {% include comps/button-alt.html text="Cancel" %}
                                    {% include comps/button-primary.html text="Add Location" %}
                                </div>
                            </form>
                        </div>
                        <div class="lg:col-span-2 flex flex-col">
                            <h4 class="text-lg leading-6 font-medium text-gray-900">Added Channels</h4>
                            <div class="mt-6 flex-1 overflow-auto h-full">
                                <table id="outlet-contacts-datatable"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="pt-6">
                    B
                </div>
                <div id="tab3" class="pt-6">
                    C
                </div>
                <div id="tab4" class="pt-6">
                    D
                </div>
            </div>
        </div>
    </div>
</div>